node_modules
dist
build
**/build/**
**/dist/**
*.log
**/*log
**/*map
packages/backend/file_store
packages/backend/cdn/file_store
packages/backend/.env
packages/backend/cdn/APIDoc.json
packages/backend/dist/server/*ipc
packages/backend/google-oauth2.json
packages/backend/cdn/admin
packages/backend/cdn/frontend
packages/backend/cdn/doc
packages/backend/.htaccess
